:root {
	--color-white: #fdfeff;
	--color-black: #1a1a1a;
	/* --color-black-modal: #1a1a1a98; */
	--color-black-modal: #50505067;
	--color-purple: #5432ebee;
	--color-purple-ligth: #9e88ffee;
	--color-purple-active: #8266ffee;
	--color-grey: #868686;
	/* --color-grey-ligth: #e0e7ff; */
	--color-grey-ligth: #d3d1d6;
	--color-blue: #0153ce;
	--color-blue-ligth: #8fbcff;
	--color-red: #ffb4bcaf;
	--color-red-dark: #8b242e;
	--color-orange: #fd7e14;
	--color-yellow: #ffe185c5;
	--color-green: #125737;
	--color-teal: #4fcfa9d3;
	--color-cyan: #0dcaf0;
	--max-width-aside: 235px;
	--min-width-aside: 70px;
	--min-width-aside: 55px;
	--height-header: 66px;
	--height-footer: 0px;
	--height-main: calc(100vh - var(--height-header) - var(--height-footer));

	--padding-global-x: 6%;
	--padding-global-y: 45px;
	--padding-global: var(--padding-global-y) var(--padding-global-x);

	--transition-time: 0.14s;
	--transition: ease-out var(--transition-time);

	--border-radius-global: 1.5px;
}

body {
	background: var(--color-white);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	transition: all var(--transition);
}
/*
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-thumb {
	background: var(--secondary-color-gray);
	border-radius: 1px;
}

*::-webkit-scrollbar-thumb:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
	background: var(--primary-color-blue);
	outline: var(--outline);
}
*/
button {
	border: none;
	outline: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

::placeholder {
	opacity: 0.45;
}
